<!DOCTYPE html>
<html>
<head>
    <title>About Developer</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src ="./img/vicky.jpg">
        <p>This application is created for learning purpose.</p>
        <p>Website provides real time weather data which is fetched from weather stack and mapbox</p>

    </div>
    {{>footer}}
</body>
</html>